body {
    background-color: teal;
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 2rem
}

h4 {
    font-size: 2rem
}



section div {
    background: grey;
    border-color: black;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 5px;
    margin-bottom: 2rem;
}

h5 {
    font-size: 2rem
}


p {
    font-size: 1rem;
}